{{#if checkBox}}
  <div class="form-check-field">
      <input type="checkbox" class="form-checkbox input" id="{{this.id}}" name="user_{{this.id}}" value="{{this.id}}" >
      <label for="{{this.id}}">{{{this.login}}}</label>
   </div>
{{else}}
{{#if chatInput}}
<input type={{type}} class="message-enter__input" name={{name}} placeholder="{{placeholder}}" autocomplete="off">
{{else}}
<div class="field {{classModifier}}">
  <label for={{name}} class="field__label">{{label}}</label>
  <input {{#if value}}value={{value}}{{/if}}
  type={{type}} id={{name}} name={{name}} class="field__input input" placeholder="{{placeholder}}"
  autoComplete="off" required {{{validation}}} data-errortext="{{errorMessage}}"/>
  <span class="field__input-error"></span>
</div>
{{/if}}
{{/if}}
