<div class="field">
  <label for={{name}} class="field__label">{{label}}</label>
  <input type={{type}} id={{name}} name={{name}} class="field__input" placeholder={{placeholder}}
  autoComplete="off" required />
  <span class="field__input-error"></span>
</div>
