<main class="chat-main">
  <div class="chat-header">
    {{#if selectedChat }}
      <div class="chat-header__avatar"></div>
      <p class="chat-header__name">{{title}} # {{selectedChat}}</p>
      <div type="button">Add User</div>
      <div type="button">Delete User</div>
      {{{deleteChatBtn}}}
        {{else}}
          <p class="chat-header__selected-chat">Выберите чат</p>
    {{/if}}
  </div>
  {{#if selectedChat }}
    <ul class="message-list">
      {{#each messages}}
        {{{this}}}
      {{/each}}
    </ul>
    <div class="message-enter">
      <button class="message-enter__menu-btn"></button>
      <form class="message-enter__form" novalidate name="chat">
        {{{input}}}
        {{{button}}}
      </form>
    </div>
  {{/if}}
</main>
