<div>
<form class="form form-user" novalidate>
  <h1 class="title">Добавление пользователей в {{titleChat}}</h1>
  <fieldset class="form-add-user">
    {{{login}}}
    {{{findBtn}}}
  </fieldset>
</form>
<form>
  <fieldset class="form-find-users">
    {{#each findUsers}}
      {{{this}}}
    {{/each}}
  </fieldset>
  {{{addBtn}}}
</form>
{{{link}}}
</div>
