<div>
<form class="form form__user" novalidate>
  {{{title}}}
  <fieldset class="form__add-user">
    {{{login}}}
    {{{findBtn}}}
  </fieldset>
</form>
<form>
  <fieldset class="form__find-users">
    {{#each findUsers}}
      {{{this}}}
    {{/each}}
  </fieldset>
  {{{addBtn}}}
</form>
{{{link}}}
</div>
