<form class="form">
  {{{title}}}
  <fieldset class="form__fieldset form__fieldset_columns_two">
    {{{firstName}}}
    {{{secondName}}}
    {{{login}}}
    {{{email}}}
    {{{password}}}
    {{{phone}}}
  </fieldset>
  {{{button}}}
  {{{formLink}}}
</form>
