<form class="form">
  <h1 class="title">Регистрация</h1>
  <fieldset class="form__fieldset form__fieldset_columns_two">
    {{{first_name}}}
    {{{second_name}}}
    {{{login}}}
    {{{email}}}
    {{{password}}}
    {{{phone}}}
  </fieldset>
  {{{button}}}
  <p class="form-link">Уже зарегистрированы?</p>
  {{{link}}}
</form>
