<form class="form">
  <div class="avatar">
      <div class="avatar__img"></div>
      <button type="button" aria-label="Кнопка редактирования Аватара" class="avatar__button"></button>
  </div>
  {{{title}}}
  <fieldset class="form__fieldset form__fieldset_columns_two">
    {{{firstName}}}
    {{{secondName}}}
    {{{displayName}}}
    {{{login}}}
    {{{email}}}
    {{{phone}}}
    {{{oldPassword}}}
    {{{newPassword}}}
  </fieldset>
  {{{button}}}
  {{!-- <p class="form-link">Внесите изменения и сохраните.</p> --}}
  {{{linkBack}}}
  {{{logoutLink}}}
</form>
