<form class="form">
  <div class="avatar">
      <img src="https://pictures.s3.yandex.net/frontend-developer/common/ava.jpg" alt="Аватар" class="avatar__img">
      <button type="button" aria-label="Кнопка редактирования Аватара" class="avatar__button"></button>
  </div>
  {{{formTitle}}}
  <fieldset class="form__fieldset form__fieldset_columns_two">
    {{{firstName}}}
    {{{secondName}}}
    {{{displayName}}}
    {{{login}}}
    {{{email}}}
    {{{phone}}}
    {{{oldPassword}}}
    {{{newPassword}}}
  </fieldset>
  {{{button}}}
  {{{formLink}}}
</form>
