<form class="form" novalidate>
  <h1 class="title">Смена пароля</h1>
  <fieldset class="form__fieldset">
    {{{login}}}
    {{{oldPassword}}}
    {{{newPassword}}}
  </fieldset>
  {{{button}}}
  {{{link}}}
</form>
