<form class="form" novalidate>
  {{{title}}}
  <fieldset class="form__fieldset">
    {{{login}}}
    {{{oldPassword}}}
    {{{newPassword}}}
    {{{confirmPassword}}}
  </fieldset>
  {{{button}}}
  {{{link}}}
</form>
