<div class="form__field {{classAdd}}">
  <label for={{name}} class="form__label">{{label}}</label>
  <input type={{type}} id={{name}} name={{name}} class="form__input" placeholder={{placeholder}} autoComplete="off"
    required />
  <span class="form__input-error">{{error}}</span>
</div>
