<form class="form" novalidate>
  {{{title}}}
  <fieldset class="form__fieldset">
    {{{login}}}
    {{{password}}}
  </fieldset>
  {{{button}}}
  <p class="form-link">Ещё не зарегистрированы?</p>
  {{{link}}}
</form>
